html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-color: rgb(0, 0, 0);
    scroll-behavior: smooth;
}


/* NavBar */
.navbar{
    display: flex;
    position: relative;
    bottom: 0px;
    width: 100%;
    height: 100%;
    padding: 2%;
   
}
.button-1{
    text-align: center;
    position: absolute;
    left: 85%;
    bottom: 49pc;
    border-radius: 30px;
    width: 7%;
    height: 45px;
    color: white;
    font-size: 19px;
    background-image: linear-gradient(to right, #7a5edd 0%, #402dbd 51%, #290ce8 100%);  /*#5f3ac7#605ad1;*/
    transition: 0.5s;
}
.button-1:hover{
    cursor: pointer;
    color: black;
    background-image: rgb(255, 162, 0);
    transition: 0.5s;
}    
.nav-links{
    list-style: none;
    color: white;
    font-size: 20px;
    justify-content: space-between;
    position: absolute;
    left: 1%;
    bottom: 49pc;
  

}
.nav-links li{
    display: inline-block;
    padding: 0px 20px;
    transition: 0.5s;
}
.nav-links li:hover{
    cursor: pointer;
    color: #7a5edd;
     
}





.titleTextStyle{
    position: relative;
    bottom: 67pc;
}
.bgH2{
    color: rgb(255, 162, 0);
    position: relative;
    font-size: 50px;
    bottom: 3%;
    left: 27%;
    padding: 0px, 0px, 0px, 0px;
    margin: 0px, 0px, 0px, 0px;
}
.bgH3{
    color: rgb(255, 162, 0);
    position: relative;
    top: 5%;
    font-size: 40px;
    left: 33%;
    padding: 0px, 0px, 0px, 0px;
    margin: 0px, 0px, 0px, 0px;
}
.button-2{
    text-align: center;
    position: relative;
    left: 43%;
    top: 32%;
    border-radius: 30px;
    width: 15%;
    height: 45px;
    color: white;
    font-size: 19px;
    background-color:  #7a5edd; 
    transition: 0.5s;
    padding: 0px, 0px, 0px, 0px;
    margin: 0px, 0px, 0px, 0px;
}
.button-2:hover{
    cursor: pointer;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 162, 0);
}




#curry{
    position: absolute;
    bottom: 115pc;
    left: 10%;
    width: 30%;
    padding: 0px, 0px, 0px, 0px;
    margin: 0px, 0px, 0px, 0px;
    display: block;
}


#curry-h3{
    background: -webkit-linear-gradient(#ddd6f3 ,#faaca8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    bottom: 135pc;
    left: 50%;
    font-size: 40px;
    padding: 0px, 0px, 0px, 0px;
    margin: 0px, 0px, 0px, 0px;
}
#curry-h3-1{
    background: -webkit-linear-gradient(#ddd6f3 ,#faaca8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    bottom: 135pc;
    left: 59%;
    font-size: 40px;
}
#ruth{
    position: absolute;
    bottom: 132pc;
    left: 68%;
    width: 15%;
    padding: 0px, 0px, 0px, 0px;
    margin: 0px, 0px, 0px, 0px;
    display: block;
}
#ruth-h2{
    background: -webkit-linear-gradient(#ddd6f3 ,#faaca8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    bottom: 150pc;
    left: 10%;
    font-size: 40px;
}




/*
#price-h2{
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: #000000;
    position: absolute;
    font-size: 60px;
    color: #000000;
    -webkit-text-stroke: 0.3vw #000000;
    text-transform: uppercase;
    bottom: 132pc;
}

#price-h2::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 44.9%;
    width: 0;
    color: #00eaff;
    -webkit-text-stroke: 0vw #383d52;
    border-right: 2px solid #00eaff;
    overflow: hidden;
    animation: animate 3s linear infinite;
}

@keyframes animate 
{
    0%, 10%, 10%
    {
        width: 0%;
    }
    70%, 90%
    {
        width: 50%;
    }
}



#no-fee{
    color: white;
    font-size: 3pc;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    position: absolute;
    bottom: 125pc;
    left: 37%;
}

#sign-up{
    color: white;
    font-size: 3pc;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    position: absolute;
    bottom: 123pc;
    left: 37%;
}


#price-button{
    text-align: center;
    position: absolute;
    left: 43%;
    bottom: 117pc;
    border-radius: 30px;
    width: 15%;
    height: 45px;
    color: black;
    font-size: 19px;
    background-color:  #97dd5e;  
    transition: 0.5s;
    padding: 0px, 0px, 0px, 0px;
    margin: 0px, 0px, 0px, 0px;
}
#price-button:hover{
    cursor: pointer;
    color: rgb(0, 0, 0);
    background-color: #00eaff;
}


.contacts{
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    position: absolute;
    bottom: 100pc;
  }
  

.contact-card{
   
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 0px;
 
    background-color: #1a1a1c;
    color: #ffae00;
    
  }

.contact-card:hover{
    background-color: #9e9ec0;
    cursor: pointer;
    color: #144100;
  }
  
.contact-card > img{
    width: 10%;
    height: auto;
    align-self: center;
    border-radius: 15px;
  }
  

  
.info-group{
    display: flex;
    align-items: center;
  }


.arrow {
    height: 30px;
    position: absolute;
    top: 55%;
    left: 30%;
  }
  

.info-group-title{ 
    margin-block: 3px;
    font-size: 15px;
    position: absolute;
    left: 10%;
  }

.info-group-price{ 
    font-size: 15px;
    position: absolute;
    top: 30px;
    right: 35%;
    margin-block: 20px;
}

*/
 /*#5f3ac7#605ad1;*/