html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-color: rgb(0, 0, 0);
}


/* NavBar */



.button-1{
    text-align: center;
    position: relative;
    left: 90%;
    bottom: 775px;
    border-radius: 30px;
    width: 7%;
    height: 45px;
    color: white;
    font-size: 19px;
    background-image: linear-gradient(to right, #7a5edd 0%, #402dbd 51%, #290ce8 100%);  /*#5f3ac7#605ad1;*/
    transition: 0.5s;
}
.button-1:hover{
    cursor: pointer;
    color: rgb(6, 234, 255);
   
}






    
.nav-links{
    list-style: none;
    color: white;
    font-size: 20px;
    justify-content: space-between;
    position: relative;
    bottom: 52pc;
  

}

.nav-links li{
    display: inline-block;
    padding: 0px 20px;
    transition: 0.5s;
}
.nav-links li:hover{
    cursor: pointer;
    color: #7a5edd;
     
}




/* Background header */

.bgH2{
    color: white;
    position: relative;
    bottom: 22pc;
    font-size: 50px;
    left: 12%;
    padding: 0px, 0px, 0px, 0px;
}

.bgH5{
    color: white;
    position: relative;
    bottom: 22pc;
    font-size: 50px;
    left: 12%;
    padding: 0px, 0px, 0px, 0px;
}
  
    

#logo{
    width: 9%;
    position: relative;
    bottom: 990px;
    right: 19%;
    opacity: 90%;
}