html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-color: rgb(0, 0, 0);
    scroll-behavior: smooth;
}


/* NavBar */
.button-1{
    text-align: center;
    position: relative;
    left: 90%;
    bottom: 775px;
    border-radius: 30px;
    width: 7%;
    height: 45px;
    color: white;
    font-size: 19px;
    background-image: linear-gradient(to right, #7a5edd 0%, #402dbd 51%, #290ce8 100%);  /*#5f3ac7#605ad1;*/
    transition: 0.5s;
}
.button-1:hover{
    cursor: pointer;
    color: rgb(6, 234, 255);
   
}






    
.nav-links{
    list-style: none;
    color: white;
    font-size: 20px;
    justify-content: space-between;
    position: relative;
    bottom: 52pc;
  

}

.nav-links li{
    display: inline-block;
    padding: 0px 20px;
    transition: 0.5s;
}
.nav-links li:hover{
    cursor: pointer;
    color: #7a5edd;
     
}







/* Background header */

.bgH2{
    color: rgb(255, 162, 0);
    position: relative;
    font-size: 50px;
    bottom: 72pc;
    left: 27%;
    padding: 0px, 0px, 0px, 0px;
    margin: 0px, 0px, 0px, 0px;
}

.bgH3{
    color: rgb(255, 162, 0);
    position: relative;
    bottom: 73pc;
    font-size: 40px;
    left: 33%;
    padding: 0px, 0px, 0px, 0px;
    margin: 0px, 0px, 0px, 0px;
}
  
.button-2{
    text-align: center;
    position: relative;
    left: 43%;
    bottom: 73pc;
    border-radius: 30px;
    width: 15%;
    height: 45px;
    color: white;
    font-size: 19px;
    background-color:  #7a5edd;  /*#5f3ac7#605ad1;*/
    transition: 0.5s;
    padding: 0px, 0px, 0px, 0px;
    margin: 0px, 0px, 0px, 0px;
}
.button-2:hover{
    cursor: pointer;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 162, 0);
   
}



/* div 2 */
#curry{
    position: relative;
    bottom: 115pc;
    left: 10%;
    width: 30%;
    padding: 0px, 0px, 0px, 0px;
    margin: 0px, 0px, 0px, 0px;
    display: block;
}


#curry-h3{
    background: -webkit-linear-gradient(#ddd6f3 ,#faaca8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    bottom: 135pc;
    left: 60%;
    font-size: 40px;
    padding: 0px, 0px, 0px, 0px;
    margin: 0px, 0px, 0px, 0px;
}
#curry-h3-1{
    background: -webkit-linear-gradient(#ddd6f3 ,#faaca8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    bottom: 135pc;
    left: 59%;
    font-size: 40px;
}
#ruth{
    position: relative;
    bottom: 132pc;
    left: 68%;
    width: 15%;
    padding: 0px, 0px, 0px, 0px;
    margin: 0px, 0px, 0px, 0px;
    display: block;
}
#ruth-h2{
    background: -webkit-linear-gradient(#ddd6f3 ,#faaca8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    bottom: 150pc;
    left: 10%;
    font-size: 40px;
}




/* Div 3 */
#price-h2{
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: #000000;
    position: relative;
    font-size: 60px;
    color: #000000;
    -webkit-text-stroke: 0.3vw #000000;
    text-transform: uppercase;
    bottom: 132pc;
}

#price-h2::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 44.9%;
    width: 0;
    color: #00eaff;
    -webkit-text-stroke: 0vw #383d52;
    border-right: 2px solid #00eaff;
    overflow: hidden;
    animation: animate 3s linear infinite;
}

@keyframes animate 
{
    0%, 10%, 10%
    {
        width: 0%;
    }
    70%, 90%
    {
        width: 50%;
    }
}



#no-fee{
    color: white;
    font-size: 3pc;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    position: relative;
    bottom: 125pc;
    left: 37%;
}

#sign-up{
    color: white;
    font-size: 3pc;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    position: relative;
    bottom: 123pc;
    left: 37%;
}


#price-button{
    text-align: center;
    position: relative;
    left: 43%;
    bottom: 117pc;
    border-radius: 30px;
    width: 15%;
    height: 45px;
    color: black;
    font-size: 19px;
    background-color:  #97dd5e;  /*#5f3ac7#605ad1;*/
    transition: 0.5s;
    padding: 0px, 0px, 0px, 0px;
    margin: 0px, 0px, 0px, 0px;
}
#price-button:hover{
    cursor: pointer;
    color: rgb(0, 0, 0);
    background-color: #00eaff;
}

